:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  .leading {
    flex: 1 1 auto;
    overflow: hidden;
  }

  .trailing {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
