:host {
  display: inline-block;

  &.readonly {
    input {
      cursor: default;
    }

    button {
      visibility: hidden;
    }

    &:hover {
      button {
        visibility: visible;
      }
    }
  }
}

.suffix {
  white-space: nowrap;
  display: inline-block;
}
