:host {
  display: inline-block;

  &.readonly {
    input {
      cursor: default;
    }

    button {
      visibility: hidden;
    }

    &:hover {
      button {
        visibility: visible;
      }
    }
  }
}

.suffix {
  margin-right: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.loading-spinner {
  margin-right: 8px;
}

mat-hint {
  color: var(--contrast-color-1);
  font-size: 14px;
  font-weight: 300;
}
