<mat-form-field appearance="outline" [style.width]="width" subscriptSizing="dynamic">
  <mat-label *ngIf="getLabel() | async; let label">{{ label }}</mat-label>
  <input #input
         matInput
         [type]="(getType() | async) || 'text'"
         [placeholder]="(getPlaceholder() | async) || ''"
         [formControl]="ctrl"
         [readonly]="isReadonly() | async"
         (keyup)="onKeyUp($event)"/>

  <span matSuffix class="suffix">
    @if (isViewMode() | async) {
      <button *ngIf="isEditable() | async" mat-icon-button matSuffix (click)="enterEditMode()">
        <mat-icon>edit</mat-icon>
      </button>
    } @else if (isEditMode() | async) {
      <button mat-icon-button color="warn" (click)="cancel()">
          <mat-icon>cancel</mat-icon>
      </button>
      <button mat-icon-button color="accent" [disabled]="!ctrl.valid" (click)="submit()">
          <mat-icon>done</mat-icon>
      </button>
    } @else {
      <div class="loading-spinner">
        <mat-progress-spinner mode="indeterminate" [diameter]="24"></mat-progress-spinner>
      </div>
    }
  </span>

  <mat-hint *ngIf="getHint() | async; let hint">{{ hint }}</mat-hint>
</mat-form-field>
