:host {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--low-contrast-color-3);
  overflow: hidden;

  &.editable {
    cursor: pointer;

    &:hover {
      .overlay {
        display: flex;
      }
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--text-color-rgb), 0.1);
  border-radius: 50%;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
    color: var(--text-color);
    text-shadow: 0 0 6px rgba(var(--text-contrast-color-rgb), 0.2);
  }
}

mat-icon {
  color: var(--contrast-color-1);
}
