:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  margin: 40px 0;
}

h1 {
  padding: 4px 0;
}

.details-container {
  margin: 0 auto;
  width: 600px;
  padding: 20px 30px;
}

.general-container {
  display: flex;
  flex-direction: row;
  gap: 30px;

  &:last-child {
    flex: 0 0 auto;
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.delete-user-profile-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}


