:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 4px 20px;

  .label {
    font-size: 18px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    visibility: hidden;
  }

  &:hover {
    background-color: var(--low-contrast-color-1);

    .actions {
      visibility: visible;
    }
  }
}
