li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  list-style-type: none;
  padding: 4px 20px;
  border-bottom: 1px solid #EAEAEA;

  .label {
    font-size: 18px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
