WritingPage

<p>To-Do:</p>
<ul>
  <li>The writing page is the place where authors will be able to see their previously created structure (now numbered, for example chapters!)</li>
  <li>They will be able to write out each node of the structure to their liking.</li>
  <li>This is basically a text editor with formatting, but may also include features to annotate sources, etc.</li>
  <li>When a name of a character or location is mentioned in the text, the application should auto-detect that and highlight it. A connection should be established between the text and the character/location. When lateron a character or location is renamed, all mentionings should be renamed as well. Furthermore when looking at the location/character view, one is able to jump to all mentionings of the character/location.</li>
</ul>
