:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 20px;
}

.name {
  font-size: 16px;
}

.actions {
  margin-left: 12px;
}
