<nav>
  <ul>
    <li [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </li>
    <li routerLink="./structure" routerLinkActive="active-link">
      Structure
    </li>
    <li routerLink="./characters" routerLinkActive="active-link">
      Characters
    </li>
    <li routerLink="./locations" routerLinkActive="active-link">
      Locations
    </li>
    <li routerLink="./timeline" routerLinkActive="active-link">
      Timeline
    </li>
    <li routerLink="./writing" routerLinkActive="active-link">
      Writing
    </li>
    <li routerLink="./reading" routerLinkActive="active-link">
      Reading
      <!-- TODO Reading view focused on reviewing the written text - leaving comments, may also be shared to the public to request and receive feedback from other people -->
    </li>
  </ul>
</nav>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/projects">
    <mat-icon>arrow_back_ios</mat-icon>
    Back to projects
  </button>
  <button mat-menu-item>
    <mat-icon>publish</mat-icon>
    Export
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
