LocationsPage

<p>To-Do:</p>
<ul>
  <li>Let the user upload a map (or multiple!) (image or svg), that will be displayed here</li>
  <li>Sections on the map can be selected by drawing a polygon (districts)</li>
  <li>District selections can be renamed and given notes for later study!</li>
  <li>Example: Uploading a map of europe for a historical novell. The different countries can be drawn (or detected in case of SVG) by clicking multiple times to set a polygon. Afterwards when selecting the drawn countries the user is able to rename them properly and give additional information on why the country is important for the book.</li>
  <li>When the name of the location is mentioned in the Writing view, it should be highlighted and upon hovering/clicking show the notes!</li>
</ul>
