html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Lexend, sans-serif;
  transition: background-color 0.5s ease;
}

a {
  color: lightseagreen;
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

/*
This class will remove the subscript sizing at the bottom of a mat-form-field.
 */
.remove-subscript-sizing {
  margin-bottom: -1.25em;
}

app-editable-field .mat-mdc-form-field-infix {
  width: auto;
}
